<div class="feedback-section">
    <div class="feedback-content">
        <p class="feedback-content-heading">Your feedback is important to us</p>
        <p class="feedback-content-body">"Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Molestiae placeat, earum vitae quo dolorem asperiores, 
            velit at nisi distinctio officia excepturi consectetur.
            Perferendis ab atque deleniti ut eos fugit. In!"</p>
            <p class="feedback-content-footer">-Team EasyEase</p>
    </div>
    <div class="feedback-form">
        <label for="name">Name</label>
        <input type="text" class="feedback-form-input">
        <label for="feedback">Your feedback</label>
        <textarea name="feedback"  cols="30" rows="5" class="feedback-form-input"></textarea>
        <button type="submit">Submit</button>
    </div>
</div>
<hr>
<footer>
    <p>All right reserved by EasyEase</p>
    <div class="footer-navbar">
        <a href="/about">About Us</a>
        <a href="/contact">Contact Us</a>
        <a href="/policy">Private Policy</a>
        <a href="/blog">Blog</a>
    </div>
    <div class="footer-social-icons">
        <div class="social-icon facebook-icon"></div>
        <div class="social-icon instagram-icon"></div>
        <div class="social-icon twitter-icon"></div>
    </div>
</footer>