<div class="signup-page">
    <form class="form signup-form">
        <div class="signup-page-content">
            <p>Register Here</p>
            <div class="cross-icon">X</div>
        </div>
        <label for="username">Username</label>
        <input type="text">
        <label for="email">Email Account</label>
        <input type="email">
        <label for="password">Password</label>
        <input type="password">
        <button type="button" class="signup-form-submit-btn">Submit</button>
        <button type="reset">Reset</button>
    </form>
</div>
<div class="login-page">
    <form class="form login-form">
        <div class="signup-page-content">
            <p>User login</p>
        </div>
        <label for="username">Username</label>
        <input type="text">
        <label for="password">Password</label>
        <input type="password">
        <button type="button" class="login-form-submit">Submit</button>
        <button type="button" class="login-form-cancel">Cancel</button>
    </form>
</div>
<header>
    <div class="site-identity">
        <a href="/" style="text-decoration: none; color: white; display: flex; justify-content: center;">
            <div class="site-logo"></div>
            <div class="site-name">EasyEase</div>
        </a>
    </div>
    <div class="header-icon">
        <p class="header-icon-p">Explore
            <span style='font-size:1rem; color: white; display: inline;font-weight: 900;'>&#8595;</span>
        </p>
        <div class="header-navbar">
            <div class="header-navbar-links">3d Models</div>
            <div class="header-navbar-links">Animations</div>
            <div class="header-navbar-links"><a href="/community" style="color: white;">Community</a></div>
            <div class="header-navbar-links">About Us</div>
            <div class="header-navbar-links">Blog</div>
        </div>
    </div>
    <div class="header-logger-navbar">
        <div class="header-logger-navbar-logo"></div>
        <div class="header-btn login-btn">LOGIN</div>
        <div class="header-btn signup-btn">SIGNUP</div>
        <div class="header-btn upload-btn">
            <a href="/model" style="text-decoration: none; color: white;">UPLOAD</a></div>
    </div>
</header>
<div class="msg-box">
    <p class="msg">demo</p>
    <p class="msg-cross-icon">X</p>
</div>