<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Private</title>
</head>
<body>
    <h1>Welcome abby</h1>
    <p>Upload your data-img here</p>
    <form ref='uploadForm' class='uploadForm' action='/admin/upload' method='post' encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload' class="form-upload-btn"/>
    </form>
</body>
</html>