<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EasyEase</title>
    <link rel="stylesheet" href="./css/blue-theme.css">
</head>
<body>
    <%- include('./partials/header') -%>
    <div class="home-page">
        <div class="home-first-section">
            <div class="home-first-section-content">
                <h1>Find and Share 3d Models and Animations</h1>
                <div class="join-for-free blue-btn">Join for free</div>
            </div>
        </div>
        <div class="home-feature-models">
            <p class="home-feature-models-para">View 3d models and animations crerated by our creators</p>
            <div class="feature-models-container">
                <div class="feature-model">
                    <div class="model-header"></div>
                    <div class="model-body">
                        <img src="" alt="loading">
                    </div>
                    <div class="model-footer">
                        <div class="model-creator-identity">Smile
                        </div>
                        <div class="model-meta-data">
                            <div class="meta-data">
                                <p class="model-views count">0</p>
                                <div class="eye-icon meta-icon"></div>
                            </div>
                            <div class="meta-data">
                                <p class="model-likes count">0</p>
                                <div class="heart-icon meta-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-model">
                    <div class="model-header"></div>
                    <div class="model-body"><img src="" alt="loading"></div>
                    <div class="model-footer">
                        <div class="model-creator-identity">Smile</div>
                        <div class="model-meta-data">
                            <div class="meta-data">
                                <p class="model-views count">0</p>
                                <div class="eye-icon meta-icon"></div>
                            </div>
                            <div class="meta-data">
                                <p class="model-likes count">0</p>
                                <div class="heart-icon meta-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-model">
                    <div class="model-header"></div>
                    <div class="model-body"><img src="" alt="loading"></div>
                    <div class="model-footer">
                        <div class="model-creator-identity">Smile
                        </div>
                        <div class="model-meta-data">
                            <div class="meta-data">
                                <p class="model-views count">0</p>
                                <div class="eye-icon meta-icon"></div>
                            </div>
                            <div class="meta-data">
                                <p class="model-likes count">0</p>
                                <div class="heart-icon meta-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-model">
                    <div class="model-header"></div>
                    <div class="model-body"><img src="" alt="loading"></div>
                    <div class="model-footer">
                        <div class="model-creator-identity">Smile
                        </div>
                        <div class="model-meta-data">
                            <div class="meta-data">
                                <p class="model-views count">0</p>
                                <div class="eye-icon meta-icon"></div>
                            </div>
                            <div class="meta-data">
                                <p class="model-likes count">0</p>
                                <div class="heart-icon meta-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-model">
                    <div class="model-header"></div>
                    <div class="model-body"><img src="" alt="loading"></div>
                    <div class="model-footer">
                        <div class="model-creator-identity">Smile
                        </div>
                        <div class="model-meta-data">
                            <div class="meta-data">
                                <p class="model-views count">0</p>
                                <div class="eye-icon meta-icon"></div>
                            </div>
                            <div class="meta-data">
                                <p class="model-likes count">0</p>
                                <div class="heart-icon meta-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-model">
                    <div class="model-header"></div>
                    <div class="model-body"><img src="" alt="loading"></div>
                    <div class="model-footer">
                        <div class="model-creator-identity">Smile
                        </div>
                        <div class="model-meta-data">
                            <div class="meta-data">
                                <p class="model-views count">0</p>
                                <div class="eye-icon meta-icon"></div>
                            </div>
                            <div class="meta-data">
                                <p class="model-likes count">0</p>
                                <div class="heart-icon meta-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-model">
                    <div class="model-header"></div>
                    <div class="model-body"><img src="" alt="loading"></div>
                    <div class="model-footer">
                        <div class="model-creator-identity">Smile
                        </div>
                        <div class="model-meta-data">
                            <div class="meta-data">
                                <p class="model-views count">0</p>
                                <div class="eye-icon meta-icon"></div>
                            </div>
                            <div class="meta-data">
                                <p class="model-likes count">0</p>
                                <div class="heart-icon meta-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="feature-model">
                    <div class="model-header"></div>
                    <div class="model-body"><img src="" alt="loading"></div>
                    <div class="model-footer">
                        <div class="model-creator-identity">Smile
                        </div>
                        <div class="model-meta-data">
                            <div class="meta-data">
                                <p class="model-views count">0</p>
                                <div class="eye-icon meta-icon"></div>
                            </div>
                            <div class="meta-data">
                                <p class="count">0</p>
                                <div class="heart-icon meta-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="site-description">
        <div class="site-description-heading">
            Browse our 3d models and animations
        </div>
        <div class="site-description-box">
            <div class="site-category-box">
                <div class="site-category"><a href="">High poly models</a></div>
                <div class="site-category"><a href="">Low poly models</a></div>
                <div class="site-category"><a href="">3d animations</a></div>
                <div class="site-category"><a href="">web animations</a></div>
                <div class="site-category"><a href="">2d animations</a></div>
            </div>
            <div class="site-subcategory-box">
                <div class="site-subcategory"><a href="">Interior designs</a></div>
                <div class="site-subcategory"><a href="">Game assets</a></div>
                <div class="site-subcategory"><a href="">Characters</a></div>
                <div class="site-subcategory"><a href="">Abstract 3d models</a></div>
                <div class="site-subcategory"><a href="">Exteriror designs</a></div>
                <div class="site-subcategory"><a href="">Electronics gadgets</a></div>
                <div class="site-subcategory"><a href="">A.R development</a></div>
                <div class="site-subcategory"><a href="">Simulations</a></div>
            </div>
        </div>
        <div class="view-more-model">
            <button class="blue-btn model-page-btn">Browse More</button>
        </div>
    </div>
    <%- include('./partials/footer') -%>
    <script src="./js/main.js" ></script>
    <script src="./js/index.js"></script>
</body>
</html>